<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training App</title>
</head>
<body>
    <h2>Register</h2>
    <form action="http://localhost:1000/api/users/update" method="POST">
        <input type="number" name="id">
        <label for="">
            Username: 
            <input type="text" name="username" value="user_">
        </label> <br>
        <label for="">
            Email: 
            <input type="text" name="email" value="user_@mail.com">
        </label> <br>
        <label for="">
            Password: 
            <input type="text" name="password" value="123456">
        </label> <br>
        <button type="submit">Save</button>
    </form>

    <p><b>Lista</b></p>
    <ul id="USER_LIST">
        -- SIN DATOS --
    </ul>

    <script src="/js/index.js?v=2"></script>
</body>
</html>